* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 70%;
  margin: 0 auto;
}
.viewBudget {
  display: flex;
  align-items: center;
  background-color: rgb(187, 181, 181);
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}
.editBudget {
  display: flex;
  align-items: center;
  background-color: rgb(151, 162, 172);
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}
.inputBudget {
  flex: 1;
  padding: 5px 10px;
  outline: none;
}
.remainigBudget {
  background-color: rgb(145, 141, 158);
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}
.spentBudget {
  background-color: rgb(145, 141, 158);
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}

.list-items {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
  font-size: 18px;
  margin-bottom: 10px;
}
.batch {
  background-color: blue;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
}
.input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  background-color: rgb(221, 219, 219);
  margin-bottom: 5px;
  outline: none;
  border: 1px solid rgb(107, 106, 106);
}

.label {
  font-size: 1.2rem;
  font-weight: 600;
}
.save {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
